<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Javascript -->
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <!--  -->
    <title>Image Classifier</title>
</head>

<body>
    <div id="Heading">
        <h1>Image Classification using Machine Learning</h1>
    </div>
    <div id="swapPart">
        <button class="btn btn-outline-secondary" id="aa" onclick="swapToTest()">Classify the Image</button>
        <button class="btn btn-outline-secondary" id="aa" onclick="swapToAbout()">More about Classification</button>
    </div>
    <div id="aboutPart" style="visibility: hidden">
        <h1>Details about the project</h1>
        <button class="btn btn-outline-secondary" onclick="backToMain()">Back to Main</button>
    </div>
    <div id="testPart" style="visibility: hidden">
        <p>Insert the image to classify the object present in the image</p>
        <form method="POST" enctype="multipart/form-data" action="/">
            <input type="file" id='myFile' name="uploaded-file">
            <button class="btn btn-outline-danger" name="btn" type="submit" value="submit">Submit</button>
            <button class="btn btn-outline-secondary" name="btn2" onclick="backToMain()">Back to Main</button>
        </form>
    </div>

</body>

</html>
<!-- 
font-family: 'Space Grotesk', sans-serif;
-->